body {
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    color: #094866;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 5fr 0.5fr;
}

header {
    grid-row: 1/2;
}

header h1 {
    font-size: 1.5rem;
}

article {
    background-color: #8bd7d7;
    grid-row: 2/3;
}

footer {
    font-size: 0.8em;
    padding-top: 15px;
    grid-row: 3/4;
}

header,
footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
