body {
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    color: #094866;
    text-align: center;
}
article {
    background-color: #8bd7d7;
}

footer {
    font-size: 0.8em;
    padding-top: 15px;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #c3ecec;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    padding: 3% 0;
}

.wrapper-description {
    text-align: left;
}

.wrapper-list li {
    display: inline-block;
    padding: 15px;
    margin: 20px 0 0;
    width: 80%;
    cursor: pointer;
    background-color: /*#a9e7e7*/ #397c8f;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 5%);
    transform: scale(1);
}

.wrapper-list li:last-child {
    margin-bottom: 20px;
}

.wrapper-list li:hover {
    background-color: #2f7184;
    box-shadow: 0;
    transition: background-color 0.5s, transform 1s;
    transform: scale(1.1);
}

.wrapper-list li:hover a {
    transition: color 1s;
    color: azure;
}

.tag {
    font-size: 0.7em;
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 3px;
    background-color: #61b5b5;
    color: azure;
}
